.result {
  display: block;
  padding: 5px 0;
}

.result mark {
  display: inline-block;
  border: 1px solid;
  background-color: transparent;
  color: currentColor;
}

.result p {
  margin: 5px 0;
}

.file {
  display: flex;
  gap: 3px;
  cursor: pointer;
}

.line-number {
  color: var(--vscode-editorLineNumber-activeForeground);
}

.preview {
  display: flex;
  gap: 10px;
}

.preview-text {
  white-space: pre-wrap;
}